/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(#184c71, #f7e4bf);
    margin: auto;
    min-height: 100%;
    height: 100vh
}

h1 {
  color: #ffffff;
  padding: 2%;
}

h2 {
    color: #ffffff;
    padding-top: 40px;
}

img {
    height: 10%;
    width: 10%;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-box {
  background-color: white;
  border-radius: 20px;
  width: 43%;
  margin: auto;
  padding: 1%;
}

.result-box {
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  width: 55%;
  padding: 3%;
}

.message-button {
    background-color: #134d71;
    color: white;
    margin-top: 4%;
    margin-right: 4%;
    padding: 1%;
    width: 25%;
    font-size: 95%;
    border-radius: 8px;
    font-weight: bold;
    /* flex: unset; */
}

.list-container {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 5%;
    width: 55%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.affirmation-button {
    margin: auto;
    flex: auto;
}

.mantra-button {
    margin-left: 50%;
    flex: auto;
}

.affirmation-list {

}

.mantra-list {

}

.button-text {
  font-style: italic;
}

.hidden {
  display: none;
}

#return-home {

}
